
   

    /* .accordion {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      margin: auto;
      background-color: white;
      color: #6c6c6c;
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      padding: 18px;
      width: 70%;

      outline: none;
      border: none;
      font-size: 20px;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: white;
    }

    .accordion:after {
      justify-items: center;
      content: "\002B";
      color: #6c6c6c;
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 400;
      font-weight: bold;
      float: center;
      margin-left: 5px;
      font-weight: 700;
      border: 3px solid #777;
      border-radius: 100%;
      width: 35px;
    }

   

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      width: 100%;
      color: #6c6c6c;
      font-family: Poppins, sans-serif;
      font-size: 17px;
      font-weight: 400;
    }
    @media (max-width: 910px) {
      .accordion {
        width: 100%;
      }
    }
    .cont{
      width: 100%;
      display: flex;
      justify-content: center;
    } */
    #accordion-in{
width: 70%;
justify-content: center;
margin: auto;

    }
    @media (max-width: 910px) {
      #accordion-in {
        width: 100%;
      }
    }